body {  
    color:palevioletred;  
    font-size:1.2em;
    font-weight:bolder;
    font-style:italic;
    font-family:Cambria,Georgia,"Book Antiqua",serif
    background-color: rgb(255, 245, 238); 
}
h2 {  
    color:rgb(144, 73, 97);  
}

    a:link {  
        color:maroon;  
        background-color: rgb(255, 245, 238); 
    }

    a:hover {  
        color:darkgreen;  
        background-color: lightgreen; 
    }
.button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 20px;
      cursor: pointer;
    }
    .button:hover {
      background-color: #45a049;
    }

